 @media (max-width: 576px) {
   .container {
    max-width: 540px;
    /* padding-left: 90px !important; */
     text-align: center !important;
  }
}

@media (max-width: 768px) {
  .container-md, .container-sm, .container {
    max-width: 720px;
        /* padding-left: 80px !important; */
      text-align: center !important;
  }
}

@media (max-width: 992px) {
  .container-lg, .container-md, .container-sm, .container {
    max-width: 960px;
     /* padding-left: 90px !important; */
      text-align: center !important;
  }
} 
/* @media (min-width: 1200px) {
  .container {
    max-width:960px;
  }
}
@media (min-width: 1400px) {
   .container {
    max-width: 960px;
  }
} */
